In [1]:
import pandas as pd

In [3]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'], 'k2': [1, 1, 2, 3, 3, 4, 4]})

In [4]:
data.head()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3

In [7]:
# delete all the duplicates of a fiven column

In [8]:
#remove duplicated of a given column based on the values of another column